p{
    font-family:arial;
    margin-top: 0px;
    margin-top: 0px;
}
body{
    margin: 0;
    padding-top: 90px;
    padding-left: 100px;
    padding-right: 24px;
    background-color: rgba(243, 241, 241, 0.507);
}
.footer{
    height: 250px;
    width: 900px;
}